//Font
$font-stack: Helvetica, sans-serif;
$main-fontsize: 2.0rem;
$mobile-fontsize: 1.6rem;

//Färgschema
$primary-bg: #31202b;
$neon: #ff14bd;
$black: #000000;
$white: #fff;
$primary-shadow: 0px 0px 35px #ff14bd;