@use "base";
@use "component";
@use "keyframes";

/*Regler för hela webbplatsen*/
html {
    /*62,5% av 16px ger 10px*/
    font-size: 62.5%;
}

body {
    /*Textstorlek 20px som standard*/
    font-size: base.$main-fontsize;
    line-height: 2.5rem;
    font-family: base.$font-stack;
    margin: 0;
    background-color: base.$primary-bg;
    color: base.$white;
    min-height: 80vh;
    margin: 5vh;
    padding: 5vh;
    border-color: base.$neon;
    box-shadow: 0 0 10px base.$neon;
    animation: neon 5s ease-in-out infinite alternate;
    -webkit-animation: neon 5s ease-in-out infinite alternate;
}

h1 {
    /*Textstorlek 32px som standard*/
    @include component.heading-size(1);
    @extend .h;
}

h2 {
    /*Textstorlek 24 som standard*/
    @include component.heading-size(2);
    @extend .h;
}

h3 {
    /*Textstorlek 20 som standard*/
    @include component.heading-size(3);
    @extend .h;
}

#container1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10% 40% 40% 10%;
}

#logo1 {
    grid-area: 1/2/2/4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    animation: logoMove1 3s ease-in-out;
}

#logo2 {
    grid-area: 1/2/2/4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    animation: logoMove2 3s ease-in-out;
}

#starttext {
    grid-area: 2/1/3/5;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

#search {
    grid-area: 3/1/4/5;
    margin: auto;

    #searchInput {
        background-color: base.$primary-bg;
        border-color: base.$neon;
        border-style: solid;
        border-radius: 0;
        font-size: base.$main-fontsize;
        color: base.$neon;
        padding: 1rem;
        box-shadow: inset 0 0 0.5rem base.$neon, 0 0 0.5rem base.$neon;
        margin-bottom: 2rem;
    }

    #searchBtn {
        @extend .buttons;
        margin-bottom: 2rem;
    }
}

#result1 {
    grid-area: 4/2/5/3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    #movieImage {
        box-shadow: base.$primary-shadow;
        max-width: 300px;
    }
}

#container2 {
    grid-area: 4/3/5/4;
    display: none;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    box-shadow: base.$primary-shadow;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: base.$primary-bg;
}

#result11 {
    grid-area: 1/1/2/2;
    margin-left: auto;
    margin-right: auto;

    #movieDirector {
        margin-bottom: 0;
    }
}

#result2 {
    grid-area: 2/1/3/2;
    margin-right: auto;

    button {
        @extend .buttons;
    }
}

#result3 {
    grid-area: 3/1/4/2;
    margin-right: auto;

    a {
        color: base.$white;
    }
}

#error {
    grid-area: 5/1/6/5;
    margin: auto;
}

/*Regler för skärmstorlekar med en maxbredd på 1200px. Detta för att anpassa webbplatsen till framförallt surfplattor.*/
@media screen and (max-width: 1200px) {
    #container1 {
        grid-template-columns: 5% 90% 5%;
    }

    #logo1 {
        grid-area: 1/2/2/3;
    }

    #logo2 {
        grid-area: 1/2/2/3;
    }

    #starttext {
        grid-area: 2/2/3/3;
    }

    #search {
        grid-area: 3/2/4/3;
    }

    #result1 {
        grid-area: 4/2/5/3;
    }

    #container2 {
        grid-area: 5/2/6/3;
    }

    #error {
        grid-area: 6/2/7/3;
        margin: auto;
    }
}

/*Regler för skärmstorlekar med en maxbredd på 700px. Detta för att anpassa webbplatsen till framförallt mobiltelefoner.*/
@media screen and (max-width: 700px) {
    body {
        /*Font-size 16 på mobil*/
        font-size: base.$mobile-fontsize;
        min-height: 88vh;
        margin: 3vh;
        padding: 3vh;
    }

    #logo1 {
        width: 250px;
    }

    #logo2 {
        width: 250px;
    }

    #search {
        #searchInput {
            max-width: 250px
        }
    }

    #result1 {
        #movieImage {
            max-width: 250px;
        }
    }
}